@{
    // View
    View = this;

    // Check action result
    if (mtTaskList.ActionResult is EmptyResult) { // Terminate page
        return;
    }

    // Layout
    if (!mtTaskList.UseLayout) // UseLayout = false // DN
        Layout = "";
    else
        Layout = "_Layout";

    // Local variables (Temp data)
    #pragma warning disable 168
    string? sqlWrk, filterWrk, whereWrk, curVal, dispVal;
    List<Dictionary<string, object>>? rswrk;
    string[]? arWrk;
    List<object?>? listWrk;
    object? guidWrk;
    Func<string>? lookupFilter;
    #pragma warning restore 168
}
@if (!mtTaskList.IsExport()) {
<script>
var currentTable = @Html.Raw(ConvertToJson(mtTaskList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { mt_task: currentTable } });
var currentPageID = ew.PAGE_ID = "list";
var currentForm;
var @(mtTaskList.FormName);
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("@(mtTaskList.FormName)")
        .setPageId("list")
        .setSubmitWithFetch(@(mtTaskList.UseAjaxActions ? "true" : "false"))
        .setFormKeyCountName("@(mtTaskList.FormKeyCountName)")

        // Add fields
        .setFields([

            ["id", [fields.id.visible && fields.id.required ? ew.Validators.required(fields.id.caption) : null, ew.Validators.integer], fields.id.isInvalid],
            ["_name", [fields._name.visible && fields._name.required ? ew.Validators.required(fields._name.caption) : null], fields._name.isInvalid],
            ["deadline", [fields.deadline.visible && fields.deadline.required ? ew.Validators.required(fields.deadline.caption) : null, ew.Validators.datetime(fields.deadline.clientFormatPattern)], fields.deadline.isInvalid],
            ["createat", [fields.createat.visible && fields.createat.required ? ew.Validators.required(fields.createat.caption) : null, ew.Validators.datetime(fields.createat.clientFormatPattern)], fields.createat.isInvalid],
            ["updateat", [fields.updateat.visible && fields.updateat.required ? ew.Validators.required(fields.updateat.caption) : null, ew.Validators.datetime(fields.updateat.clientFormatPattern)], fields.updateat.isInvalid]
        ])

        // Form_CustomValidate
        .setCustomValidate(
            function(fobj) { // DO NOT CHANGE THIS LINE!
                    // Your custom validation code here, return false if invalid.
                    return true;
                }
        )

        // Use JavaScript validation or not
        .setValidateRequired(ew.CLIENT_VALIDATE)

        // Dynamic selection lists
        .setLists({
        })
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
ew.PREVIEW_SELECTOR = ".ew-preview-btn";
ew.PREVIEW_MODAL_CLASS = "modal modal-fullscreen-sm-down";
ew.PREVIEW_ROW = true;
ew.PREVIEW_SINGLE_ROW = false;
ew.PREVIEW || ew.ready("head", ew.PATH_BASE + "js/preview.min.js?v=20.5.0", "preview");
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
}
@if (!mtTaskList.IsExport()) {
<div class="btn-toolbar ew-toolbar">
@if (mtTaskList.TotalRecords > 0 && mtTaskList.ExportOptions.Visible) {
    mtTaskList.ExportOptions.Render("body");
}
@if (mtTaskList.ImportOptions.Visible) {
    mtTaskList.ImportOptions.Render("body");
}
@if (mtTaskList.SearchOptions.Visible) {
    mtTaskList.SearchOptions.Render("body");
}
@if (mtTaskList.FilterOptions.Visible) {
    mtTaskList.FilterOptions.Render("body");
}
</div>
}
@if (!mtTaskList.IsModal) {
<form name="fmt_tasksrch" id="fmt_tasksrch" class="ew-form ew-ext-search-form" action="@AppPath(CurrentPageName())" novalidate autocomplete="off">
<div id="fmt_tasksrch_search_panel" class="mb-2 mb-sm-0 @(mtTaskList.SearchPanelClass)"><!-- .ew-search-panel -->
<script>
var currentTable = @Html.Raw(ConvertToJson(mtTaskList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { mt_task: currentTable } });
var currentForm;
var fmt_tasksrch, currentSearchForm, currentAdvancedSearchForm;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery,
        fields = currentTable.fields;

    // Form object for search
    let form = new ew.FormBuilder()
        .setId("fmt_tasksrch")
        .setPageId("list")
@if (mtTaskList.UseAjaxActions) {
        <text>.setSubmitWithFetch(true)</text>
}

        // Dynamic selection lists
        .setLists({
        })

        // Filters
        .setFilterList(@Html.Raw(await mtTaskList.GetFilterList()))
        .build();
    window[form.id] = form;
    currentSearchForm = form;
    loadjs.done(form.id);
});
</script>
<input type="hidden" name="cmd" value="search">
@if (Security.CanSearch) {
if (!mtTaskList.IsExport() && Empty(mtTaskList.CurrentAction) && mtTaskList.HasSearchFields()) { @* Show search form (begin) *@
<div class="ew-extended-search container-fluid ps-2">
<div class="row mb-0">
    <div class="col-sm-auto px-0 pe-sm-2">
        <div class="ew-basic-search input-group">
            <input type="search" name="@(Config.TableBasicSearch)" id="@(Config.TableBasicSearch)" class="form-control ew-basic-search-keyword" value="@Html.Raw(HtmlEncode(mtTaskList.BasicSearch.SessionKeyword))" placeholder="@(HtmlEncode(Language.Phrase("Search")))" aria-label="@(HtmlEncode(Language.Phrase("Search")))">
            <input type="hidden" name="@(Config.TableBasicSearchType)" id="@(Config.TableBasicSearchType)" class="ew-basic-search-type" value="@(HtmlEncode(mtTaskList.BasicSearch.SessionType))">
            <button type="button" data-bs-toggle="dropdown" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" aria-haspopup="true" aria-expanded="false">
                <span id="searchtype">@Html.Raw(mtTaskList.BasicSearch.TypeNameShort)</span>
            </button>
            <div class="dropdown-menu dropdown-menu-end">
                <button type="button" class="dropdown-item@(mtTaskList.BasicSearch.SessionType == "" ? " active" : "")" form="fmt_tasksrch" data-ew-action="search-type">@Html.Raw(Language.Phrase("QuickSearchAuto"))</button>
                <button type="button" class="dropdown-item@(mtTaskList.BasicSearch.SessionType == "=" ? " active" : "")" form="fmt_tasksrch" data-ew-action="search-type" data-search-type="=">@Html.Raw(Language.Phrase("QuickSearchExact"))</button>
                <button type="button" class="dropdown-item@(mtTaskList.BasicSearch.SessionType == "AND" ? " active" : "")" form="fmt_tasksrch" data-ew-action="search-type" data-search-type="AND">@Html.Raw(Language.Phrase("QuickSearchAll"))</button>
                <button type="button" class="dropdown-item@(mtTaskList.BasicSearch.SessionType == "OR" ? " active" : "")" form="fmt_tasksrch" data-ew-action="search-type" data-search-type="OR">@Html.Raw(Language.Phrase("QuickSearchAny"))</button>
            </div>
        </div>
    </div>
    <div class="col-sm-auto mb-3">
        <button class="btn btn-primary" name="btn-submit" id="btn-submit" type="submit">@Html.Raw(Language.Phrase("SearchBtn"))</button>
    </div>
</div>
</div><!-- /.ew-extended-search -->
} @* Show search form (end) *@
}
</div><!-- /.ew-search-panel -->
</form>
}
@mtTaskList.ShowPageHeader()
@mtTaskList.ShowMessages()
<main class="list @(mtTaskList.TotalRecords == 0 && !mtTaskList.IsAdd ? " ew-no-record" : "")">
<div id="ew-list">
@if (mtTaskList.TotalRecords > 0 || !Empty(mtTaskList.CurrentAction)) {
<div class="card ew-card ew-grid@(mtTaskList.IsAddOrEdit ? " ew-grid-add-edit" : "") @(mtTaskList.TableGridClass)">
@if (!mtTaskList.IsExport()) {
<div class="card-header ew-grid-upper-panel">
@if (!mtTaskList.IsGridAdd && !(mtTaskList.IsGridEdit && mtTaskList.ModalGridEdit) && !mtTaskList.IsMultiEdit) {
@Html.Raw(mtTaskList.Pager.Render())
}
<div class="ew-list-other-options">
@mtTaskList.OtherOptions.RenderBody()
</div>
</div>
}
<form name="@(mtTaskList.FormName)" id="@(mtTaskList.FormName)" class="ew-form ew-list-form" action="@AppPath(mtTaskList.PageName)" method="post" novalidate autocomplete="off">
@if (CurrentPage.CheckToken) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
@if (mtTaskList.IsModal) {
<input type="hidden" name="modal" value="1">
}
<div id="gmp_mt_task" class="card-body ew-grid-middle-panel @(mtTaskList.TableContainerClass)" style="@(mtTaskList.TableContainerStyle)">
@if (mtTaskList.TotalRecords > 0 || mtTaskList.IsGridEdit || mtTaskList.IsMultiEdit) {
<table id="tbl_mt_tasklist" class="@(mtTaskList.TableClass)"><!-- .ew-table -->
<thead>
    <tr class="ew-table-header">
@{
    // Header row
    mtTaskList.RowType = RowType.Header;

    // Render list options
    await mtTaskList.RenderListOptions();
}
@* Render list options (header, left) *@
@mtTaskList.ListOptions.RenderHeader("left")
@if (mtTaskList.id.Visible) { // mtTaskList.id.Visible (begin)
        <th data-name="id" class="@(mtTaskList.id.HeaderCellClass)"><div id="elh_mt_task_id" class="mt_task_id">@Html.Raw(mtTaskList.RenderFieldHeader(mtTaskList.id))</div></th>
} @* mtTaskList.id.Visible (end) *@
@if (mtTaskList._name.Visible) { // mtTaskList._name.Visible (begin)
        <th data-name="_name" class="@(mtTaskList._name.HeaderCellClass)"><div id="elh_mt_task__name" class="mt_task__name">@Html.Raw(mtTaskList.RenderFieldHeader(mtTaskList._name))</div></th>
} @* mtTaskList._name.Visible (end) *@
@if (mtTaskList.deadline.Visible) { // mtTaskList.deadline.Visible (begin)
        <th data-name="deadline" class="@(mtTaskList.deadline.HeaderCellClass)"><div id="elh_mt_task_deadline" class="mt_task_deadline">@Html.Raw(mtTaskList.RenderFieldHeader(mtTaskList.deadline))</div></th>
} @* mtTaskList.deadline.Visible (end) *@
@if (mtTaskList.createat.Visible) { // mtTaskList.createat.Visible (begin)
        <th data-name="createat" class="@(mtTaskList.createat.HeaderCellClass)"><div id="elh_mt_task_createat" class="mt_task_createat">@Html.Raw(mtTaskList.RenderFieldHeader(mtTaskList.createat))</div></th>
} @* mtTaskList.createat.Visible (end) *@
@if (mtTaskList.updateat.Visible) { // mtTaskList.updateat.Visible (begin)
        <th data-name="updateat" class="@(mtTaskList.updateat.HeaderCellClass)"><div id="elh_mt_task_updateat" class="mt_task_updateat">@Html.Raw(mtTaskList.RenderFieldHeader(mtTaskList.updateat))</div></th>
} @* mtTaskList.updateat.Visible (end) *@
@* Render list options (header, right) *@
@mtTaskList.ListOptions.RenderHeader("right")
    </tr>
</thead>
<tbody data-page="@(mtTaskList.PageNumber)">
@{
    await mtTaskList.SetupGrid();
    bool eof = mtTaskList.Recordset == null; // DN
}
@while (mtTaskList.RecordCount < mtTaskList.StopRecord || SameString(mtTaskList.RowIndex, "$rowindex$")) { // Begin While
    if (!eof && !SameString(mtTaskList.RowIndex, "$rowindex$") &&
        (!mtTaskList.IsGridAdd || mtTaskList.CurrentMode == "copy") &&
        (!((mtTaskList.IsCopy || mtTaskList.IsAdd) && mtTaskList.RowIndex is int rowIndex && rowIndex == 0))) // DN
        eof = !await mtTaskList.Recordset.ReadAsync();
    mtTaskList.RecordCount++;
    if (mtTaskList.RecordCount >= mtTaskList.StartRecord) {
        await mtTaskList.SetupRow();
    <tr @Html.Raw(mtTaskList.RowAttributes)>
    @* Render list options (body, left) *@
    @mtTaskList.ListOptions.RenderBody("left", mtTaskList.RowCount)
    @if (mtTaskList.id.Visible) { // mtTaskList.id.Visible (begin)
        <td data-name="id" @Html.Raw(mtTaskList.id.CellAttributes)>
@if (mtTaskList.RowType == RowType.Edit) { // Edit (begin)
    @* id (begin) *@
    <span id="el@(mtTaskList.RowIndex == "$rowindex$" ? "$rowindex$" : mtTaskList.RowCount)_mt_task_id" class="el_mt_task_id">
    <input type="@(mtTaskList.id.InputTextType)" name="x@(mtTaskList.RowIndex)_id" id="x@(mtTaskList.RowIndex)_id" data-table="mt_task" data-field="x_id" value="@Html.Raw(mtTaskList.id.EditValue)" size="30" maxlength="1" placeholder="@Html.Raw(HtmlEncode(mtTaskList.id.PlaceHolder))" data-format-pattern="@(mtTaskList.id.FormatPattern)"@Html.Raw(mtTaskList.id.EditAttributes)>
    <div class="invalid-feedback">@Html.Raw(mtTaskList.id.GetErrorMessage())</div>
    <input type="hidden" data-table="mt_task" data-field="x_id" data-hidden="1" data-old name="o@(mtTaskList.RowIndex)_id" id="o@(mtTaskList.RowIndex)_id" value="@Html.Raw(HtmlEncode(mtTaskList.id.OldValue ?? mtTaskList.id.CurrentValue))">
    </span>
    @* id (end) *@
} @* Edit (end) *@
@if (mtTaskList.RowType == RowType.View) { // View (begin)
    @* id (begin) *@
    <span id="el@(mtTaskList.RowIndex == "$rowindex$" ? "$rowindex$" : mtTaskList.RowCount)_mt_task_id" class="el_mt_task_id">
    <span @Html.Raw(mtTaskList.id.ViewAttributes)>
    @Html.Raw(mtTaskList.id.GetViewValue())</span>
    </span>
    @* id (end) *@
} @* View (end) *@
</td>
    } else {
        <input type="hidden" data-table="mt_task" data-field="x_id" data-hidden="1" name="x@(mtTaskList.RowIndex)_id" id="x@(mtTaskList.RowIndex)_id" value="@Html.Raw(HtmlEncode(mtTaskList.id.CurrentValue))">
    } @* mtTaskList.id.Visible (end) *@
    @if (mtTaskList._name.Visible) { // mtTaskList._name.Visible (begin)
        <td data-name="_name" @Html.Raw(mtTaskList._name.CellAttributes)>
@if (mtTaskList.RowType == RowType.Edit) { // Edit (begin)
    @* _name (begin) *@
    <span id="el@(mtTaskList.RowIndex == "$rowindex$" ? "$rowindex$" : mtTaskList.RowCount)_mt_task__name" class="el_mt_task__name">
    <input type="@(mtTaskList._name.InputTextType)" name="x@(mtTaskList.RowIndex)__name" id="x@(mtTaskList.RowIndex)__name" data-table="mt_task" data-field="x__name" value="@Html.Raw(mtTaskList._name.EditValue)" size="30" maxlength="250" placeholder="@Html.Raw(HtmlEncode(mtTaskList._name.PlaceHolder))" data-format-pattern="@(mtTaskList._name.FormatPattern)"@Html.Raw(mtTaskList._name.EditAttributes)>
    <div class="invalid-feedback">@Html.Raw(mtTaskList._name.GetErrorMessage())</div>
    </span>
    @* _name (end) *@
} @* Edit (end) *@
@if (mtTaskList.RowType == RowType.View) { // View (begin)
    @* _name (begin) *@
    <span id="el@(mtTaskList.RowIndex == "$rowindex$" ? "$rowindex$" : mtTaskList.RowCount)_mt_task__name" class="el_mt_task__name">
    <span @Html.Raw(mtTaskList._name.ViewAttributes)>
    @Html.Raw(mtTaskList._name.GetViewValue())</span>
    </span>
    @* _name (end) *@
} @* View (end) *@
</td>
    } @* mtTaskList._name.Visible (end) *@
    @if (mtTaskList.deadline.Visible) { // mtTaskList.deadline.Visible (begin)
        <td data-name="deadline" @Html.Raw(mtTaskList.deadline.CellAttributes)>
@if (mtTaskList.RowType == RowType.Edit) { // Edit (begin)
    @* deadline (begin) *@
    <span id="el@(mtTaskList.RowIndex == "$rowindex$" ? "$rowindex$" : mtTaskList.RowCount)_mt_task_deadline" class="el_mt_task_deadline">
    <input type="@(mtTaskList.deadline.InputTextType)" name="x@(mtTaskList.RowIndex)_deadline" id="x@(mtTaskList.RowIndex)_deadline" data-table="mt_task" data-field="x_deadline" value="@Html.Raw(mtTaskList.deadline.EditValue)" placeholder="@Html.Raw(HtmlEncode(mtTaskList.deadline.PlaceHolder))" data-format-pattern="@(mtTaskList.deadline.FormatPattern)"@Html.Raw(mtTaskList.deadline.EditAttributes)>
    <div class="invalid-feedback">@Html.Raw(mtTaskList.deadline.GetErrorMessage())</div>
    @if (!mtTaskList.deadline.ReadOnly && !mtTaskList.deadline.Disabled && !mtTaskList.deadline.EditAttrs.Is("readonly") && !mtTaskList.deadline.EditAttrs.Is("disabled")) {
    <script>
    loadjs.ready(["@(mtTaskList.FormName)", "datetimepicker"], function () {
        let format = "@Html.Raw(DateFormat(0))", // DN
            options = {
                    localization: {
                        locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                        hourCycle: format.match(/H/) ? "h24" : "h12",
                        format,
                        ...ew.language.phrase("datetimepicker")
                    },
                    display: {
                        icons: {
                            previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                            next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                        },
                        components: {
                            hours: !!format.match(/h/i),
                            minutes: !!format.match(/m/),
                            seconds: !!format.match(/s/i)
                        },
                        theme: ew.isDark() ? "dark" : "auto"
                    }
                };
        ew.createDateTimePicker("@(mtTaskList.FormName)", "x@(mtTaskList.RowIndex)_deadline", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
    });
    </script>
    }
    </span>
    @* deadline (end) *@
} @* Edit (end) *@
@if (mtTaskList.RowType == RowType.View) { // View (begin)
    @* deadline (begin) *@
    <span id="el@(mtTaskList.RowIndex == "$rowindex$" ? "$rowindex$" : mtTaskList.RowCount)_mt_task_deadline" class="el_mt_task_deadline">
    <span @Html.Raw(mtTaskList.deadline.ViewAttributes)>
    @Html.Raw(mtTaskList.deadline.GetViewValue())</span>
    </span>
    @* deadline (end) *@
} @* View (end) *@
</td>
    } @* mtTaskList.deadline.Visible (end) *@
    @if (mtTaskList.createat.Visible) { // mtTaskList.createat.Visible (begin)
        <td data-name="createat" @Html.Raw(mtTaskList.createat.CellAttributes)>
@if (mtTaskList.RowType == RowType.Edit) { // Edit (begin)
    @* createat (begin) *@
    <span id="el@(mtTaskList.RowIndex == "$rowindex$" ? "$rowindex$" : mtTaskList.RowCount)_mt_task_createat" class="el_mt_task_createat">
    <input type="@(mtTaskList.createat.InputTextType)" name="x@(mtTaskList.RowIndex)_createat" id="x@(mtTaskList.RowIndex)_createat" data-table="mt_task" data-field="x_createat" value="@Html.Raw(mtTaskList.createat.EditValue)" placeholder="@Html.Raw(HtmlEncode(mtTaskList.createat.PlaceHolder))" data-format-pattern="@(mtTaskList.createat.FormatPattern)"@Html.Raw(mtTaskList.createat.EditAttributes)>
    <div class="invalid-feedback">@Html.Raw(mtTaskList.createat.GetErrorMessage())</div>
    @if (!mtTaskList.createat.ReadOnly && !mtTaskList.createat.Disabled && !mtTaskList.createat.EditAttrs.Is("readonly") && !mtTaskList.createat.EditAttrs.Is("disabled")) {
    <script>
    loadjs.ready(["@(mtTaskList.FormName)", "datetimepicker"], function () {
        let format = "@Html.Raw(DateFormat(0))", // DN
            options = {
                    localization: {
                        locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                        hourCycle: format.match(/H/) ? "h24" : "h12",
                        format,
                        ...ew.language.phrase("datetimepicker")
                    },
                    display: {
                        icons: {
                            previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                            next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                        },
                        components: {
                            hours: !!format.match(/h/i),
                            minutes: !!format.match(/m/),
                            seconds: !!format.match(/s/i)
                        },
                        theme: ew.isDark() ? "dark" : "auto"
                    }
                };
        ew.createDateTimePicker("@(mtTaskList.FormName)", "x@(mtTaskList.RowIndex)_createat", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
    });
    </script>
    }
    </span>
    @* createat (end) *@
} @* Edit (end) *@
@if (mtTaskList.RowType == RowType.View) { // View (begin)
    @* createat (begin) *@
    <span id="el@(mtTaskList.RowIndex == "$rowindex$" ? "$rowindex$" : mtTaskList.RowCount)_mt_task_createat" class="el_mt_task_createat">
    <span @Html.Raw(mtTaskList.createat.ViewAttributes)>
    @Html.Raw(mtTaskList.createat.GetViewValue())</span>
    </span>
    @* createat (end) *@
} @* View (end) *@
</td>
    } @* mtTaskList.createat.Visible (end) *@
    @if (mtTaskList.updateat.Visible) { // mtTaskList.updateat.Visible (begin)
        <td data-name="updateat" @Html.Raw(mtTaskList.updateat.CellAttributes)>
@if (mtTaskList.RowType == RowType.Edit) { // Edit (begin)
    @* updateat (begin) *@
    <span id="el@(mtTaskList.RowIndex == "$rowindex$" ? "$rowindex$" : mtTaskList.RowCount)_mt_task_updateat" class="el_mt_task_updateat">
    <input type="@(mtTaskList.updateat.InputTextType)" name="x@(mtTaskList.RowIndex)_updateat" id="x@(mtTaskList.RowIndex)_updateat" data-table="mt_task" data-field="x_updateat" value="@Html.Raw(mtTaskList.updateat.EditValue)" placeholder="@Html.Raw(HtmlEncode(mtTaskList.updateat.PlaceHolder))" data-format-pattern="@(mtTaskList.updateat.FormatPattern)"@Html.Raw(mtTaskList.updateat.EditAttributes)>
    <div class="invalid-feedback">@Html.Raw(mtTaskList.updateat.GetErrorMessage())</div>
    @if (!mtTaskList.updateat.ReadOnly && !mtTaskList.updateat.Disabled && !mtTaskList.updateat.EditAttrs.Is("readonly") && !mtTaskList.updateat.EditAttrs.Is("disabled")) {
    <script>
    loadjs.ready(["@(mtTaskList.FormName)", "datetimepicker"], function () {
        let format = "@Html.Raw(DateFormat(0))", // DN
            options = {
                    localization: {
                        locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                        hourCycle: format.match(/H/) ? "h24" : "h12",
                        format,
                        ...ew.language.phrase("datetimepicker")
                    },
                    display: {
                        icons: {
                            previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                            next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                        },
                        components: {
                            hours: !!format.match(/h/i),
                            minutes: !!format.match(/m/),
                            seconds: !!format.match(/s/i)
                        },
                        theme: ew.isDark() ? "dark" : "auto"
                    }
                };
        ew.createDateTimePicker("@(mtTaskList.FormName)", "x@(mtTaskList.RowIndex)_updateat", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
    });
    </script>
    }
    </span>
    @* updateat (end) *@
} @* Edit (end) *@
@if (mtTaskList.RowType == RowType.View) { // View (begin)
    @* updateat (begin) *@
    <span id="el@(mtTaskList.RowIndex == "$rowindex$" ? "$rowindex$" : mtTaskList.RowCount)_mt_task_updateat" class="el_mt_task_updateat">
    <span @Html.Raw(mtTaskList.updateat.ViewAttributes)>
    @Html.Raw(mtTaskList.updateat.GetViewValue())</span>
    </span>
    @* updateat (end) *@
} @* View (end) *@
</td>
    } @* mtTaskList.updateat.Visible (end) *@
    @* Render list options (body, right) *@
    @mtTaskList.ListOptions.RenderBody("right", mtTaskList.RowCount)
    </tr>
if (mtTaskList.RowType == RowType.Add || mtTaskList.RowType == RowType.Edit) {
<script>
loadjs.ready(["@(mtTaskList.FormName)","load"], () => @(mtTaskList.FormName).updateLists(@(mtTaskList.RowIndex)@(mtTaskList.IsAdd || mtTaskList.IsEdit || mtTaskList.IsCopy || SameString(mtTaskList.RowIndex, "$rowindex$") ? ", true" : "")));
</script>
}
    } @* End if *@

    // Reset for template row
    if (SameString(mtTaskList.RowIndex, "$rowindex$"))
        mtTaskList.RowIndex = 0;

    // Reset inline add/copy row
    if ((mtTaskList.IsCopy || mtTaskList.IsAdd) && mtTaskList.RowIndex is int rowIndex2 && rowIndex2 == 0)
        mtTaskList.RowIndex = 1;
} @* End While *@
</tbody>
</table><!-- /.ew-table -->
} @* End If TotalRecords > 0 *@
@if (mtTaskList.IsEdit) {
<input type="hidden" name="@(mtTaskList.FormKeyCountName)" id="@(mtTaskList.FormKeyCountName)" value="@(mtTaskList.KeyCount)">
}
</div><!-- /.ew-grid-middle-panel -->
@if (Empty(mtTaskList.CurrentAction) && !mtTaskList.UseAjaxActions) {
<input type="hidden" name="action" id="action" value="">
}
</form><!-- /.ew-list-form -->
@{ mtTaskList.CloseRecordset(); }
@if (!mtTaskList.IsExport()) {
<div class="card-footer ew-grid-lower-panel">
@if (!mtTaskList.IsGridAdd && !(mtTaskList.IsGridEdit && mtTaskList.ModalGridEdit) && !mtTaskList.IsMultiEdit) {
@Html.Raw(mtTaskList.Pager.Render())
}
<div class="ew-list-other-options">
@mtTaskList.OtherOptions.RenderBody("bottom")
</div>
</div>
}
</div><!-- /.ew-grid -->
} else { // Show other options
<div class="ew-list-other-options">
@mtTaskList.OtherOptions.ForEach(opt => opt.ButtonClass = "").RenderBody()
</div>
}
</div>
</main>
@mtTaskList.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
@if (!mtTaskList.IsExport()) {
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("mt_task");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
}
